/*------------------------------------------------------------------
||  Base
-------------------------------------------------------------------*/
html,
:root {
  font-family: $basic-font;
  line-height: 1.75;
  color: #15171A;
  box-sizing: border-box;
}
