/*------------------------------------------------------------------
||  Button
-------------------------------------------------------------------*/
.c-btn {
  position: relative;
  display: inline-block;
  padding: 0 24px;
  height: 48px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.24px;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  appearance: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    cursor: default;
  }
}

.c-btn--primary {
  color: $white;
  background-color: #2db27d;
  
  &:hover {
    background-color: darken(#2db27d, 8%);
  }
}

.c-btn--white {
  color: #15171a;
  background-color: $white;
  
  &:hover {
    background-color: darken($white, 8%);
  }
}

.c-btn--error {
  color: $white;
  background-color: #F03D5D;
  
  &:hover {
    background-color: darken(#F03D5D, 8%);
  }
}

.c-btn--icon {
  position: relative;
  padding: 0;
  width: 48px;
  height: 48px;
  background-color: $white;

  img, svg {
    position: absolute;
    top: 12px;
    left: 12px;
  }
  
  &:hover {
    background-color: darken($white, 8%);
  }
}