/*------------------------------------------------------------------
||  Data Item
-------------------------------------------------------------------*/
.c-data-item {

}

.c-data-item__title {
  margin: 0 0 2px;
  font-size: 14px;
  color: #727375;
  letter-spacing: 0.72px;
  line-height: 18px;
  text-transform: uppercase;
}

.c-data-item__text {
  color: #15171A;
}