/*------------------------------------------------------------------
||  Form - Basics
-------------------------------------------------------------------*/
.c-label {
  font-size: 14px;
	line-height: 18px;
  color: #434547;
  
  @media (min-width: $breakpoint-medium) {
    font-size: 16px;
    line-height: 24px;
  }
}

.c-input {
  padding: 0 16px;
  height: 48px;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle;
  border: none;
  box-shadow: inset 0 0 0 1px #c7ced7;
  border-radius: 5px;
  outline: none;

  &:focus {
    box-shadow: inset 0 0 0 2px #15171a;
    outline: none;
  }
}

.c-input--error {
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0 0 0 2px #F03D5D;
  &:focus {
    box-shadow: inset 0 0 0 2px #F03D5D;
  }
}

.c-input__error-msg {
  display: block;
  padding: 4px 16px;
  color: $white;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0.24px;
  background: #F03D5D;
  border-radius: 0 0 5px 5px;
}