/*------------------------------------------------------------------
||  Base
-------------------------------------------------------------------*/
body {
  background-color: #F5F7FA;
}

.f-wrapper {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1160px;

  @media (min-width: $breakpoint-medium) {
    padding: 0 24px;
  }
}

.f-wrapper--login {
  max-width: 640px;
}