/*------------------------------------------------------------------
||  Landigpage
-------------------------------------------------------------------*/
.m-site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
  padding: 0 16px;

  @media (min-width: $breakpoint-medium) {
    padding: 0 48px;
  }
}

.landingpage-content {}

/*------------------------------------------------------------------
||  Landigpage - Login
-------------------------------------------------------------------*/
.c-card__header--login {
  border-bottom: 2px solid #e1e3e6;
  .display-2 {
    text-align: center;
  }
}