/*------------------------------------------------------------------
||  Variables
-------------------------------------------------------------------*/
$spacing-list: (
  0: $spacing-none,
  1: $spacing-tiny,
  2: $spacing-extra-extra-small,
  3: $spacing-extra-small,
  4: $spacing-small,
  5: $spacing-medium,
  6: $spacing-large,
  7: $spacing-extra-large,
  8: $spacing-extra-extra-large,
  9: $spacing-giant,
  10: $spacing-extra-giant,
  11: $spacing-extra-extra-giant,
  12: $spacing-planet,
  13: $spacing-extra-planet,
  14: $spacing-extra-extra-planet
);

/*------------------------------------------------------------------
||  Variables
-------------------------------------------------------------------*/
@each $index, $spacing in $spacing-list {
  .f-ma#{$index} { margin: $spacing; }
  .f-mh#{$index} { margin-left: $spacing; margin-right: $spacing; }
  .f-mv#{$index} { margin-top: $spacing; margin-bottom: $spacing; }
  .f-ml#{$index} { margin-left: $spacing; }
  .f-mr#{$index} { margin-right: $spacing; }
  .f-mt#{$index} { margin-top: $spacing; }
  .f-mb#{$index} { margin-bottom: $spacing; }

  .f-pa#{$index} { padding: $spacing; }
  .f-pv#{$index} { padding-top: $spacing; padding-bottom: $spacing; }
  .f-ph#{$index} { padding-left: $spacing; padding-right: $spacing; }
  .f-pt#{$index} { padding-top: $spacing; }
  .f-pl#{$index} { padding-left: $spacing; }
  .f-pr#{$index} { padding-right: $spacing; }
  .f-pb#{$index} { padding-bottom: $spacing; }
}

@media (min-width: $breakpoint-small) {
  @each $index, $spacing in $spacing-list {
    .f-ma#{$index}-ns { margin: $spacing; }
    .f-mh#{$index}-ns { margin-left: $spacing; margin-right: $spacing; }
    .f-mv#{$index}-ns { margin-top: $spacing; margin-bottom: $spacing; }
    .f-ml#{$index}-ns { margin-left: $spacing; }
    .f-mr#{$index}-ns { margin-right: $spacing; }
    .f-mt#{$index}-ns { margin-top: $spacing; }
    .f-mb#{$index}-ns { margin-bottom: $spacing; }

    .f-pa#{$index}-ns { padding: $spacing; }
    .f-pv#{$index}-ns { padding-top: $spacing; padding-bottom: $spacing; }
    .f-ph#{$index}-ns { padding-left: $spacing; padding-right: $spacing; }
    .f-pt#{$index}-ns { padding-top: $spacing; }
    .f-pl#{$index}-ns { padding-left: $spacing; }
    .f-pr#{$index}-ns { padding-right: $spacing; }
    .f-pb#{$index}-ns { padding-bottom: $spacing; }
  }
}

@media (min-width: $breakpoint-medium) {
  @each $index, $spacing in $spacing-list {
    .f-ma#{$index}-m { margin: $spacing; }
    .f-mh#{$index}-m { margin-left: $spacing; margin-right: $spacing; }
    .f-mv#{$index}-m { margin-top: $spacing; margin-bottom: $spacing; }
    .f-ml#{$index}-m { margin-left: $spacing; }
    .f-mr#{$index}-m { margin-right: $spacing; }
    .f-mt#{$index}-m { margin-top: $spacing; }
    .f-mb#{$index}-m { margin-bottom: $spacing; }

    .f-pa#{$index}-m { padding: $spacing; }
    .f-pv#{$index}-m { padding-top: $spacing; padding-bottom: $spacing; }
    .f-ph#{$index}-m { padding-left: $spacing; padding-right: $spacing; }
    .f-pt#{$index}-m { padding-top: $spacing; }
    .f-pl#{$index}-m { padding-left: $spacing; }
    .f-pr#{$index}-m { padding-right: $spacing; }
    .f-pb#{$index}-m { padding-bottom: $spacing; }
  }
}

@media (min-width: $breakpoint-large) {
  @each $index, $spacing in $spacing-list {
    .f-ma#{$index}-l { margin: $spacing; }
    .f-mh#{$index}-l { margin-left: $spacing; margin-right: $spacing; }
    .f-mv#{$index}-l { margin-top: $spacing; margin-bottom: $spacing; }
    .f-ml#{$index}-l { margin-left: $spacing; }
    .f-mr#{$index}-l { margin-right: $spacing; }
    .f-mt#{$index}-l { margin-top: $spacing; }
    .f-mb#{$index}-l { margin-bottom: $spacing; }

    .f-pa#{$index}-l { padding: $spacing; }
    .f-pv#{$index}-l { padding-top: $spacing; padding-bottom: $spacing; }
    .f-ph#{$index}-l { padding-left: $spacing; padding-right: $spacing; }
    .f-pt#{$index}-l { padding-top: $spacing; }
    .f-pl#{$index}-l { padding-left: $spacing; }
    .f-pr#{$index}-l { padding-right: $spacing; }
    .f-pb#{$index}-l { padding-bottom: $spacing; }
  }
}
